div{
    text-align: center;
}
body{
    background-color: rgb(248, 177, 227);
}
h1{
    background-color: rgb(250, 200, 200);
    border-radius: 200px;
    text-align: center;
}
button{
    text-align: center;
    background-color: darkgray;
}
h2{
    background-color: rgb(250, 200, 200);
    border-radius: 200px;
    text-align: center;
}
h3{
    background-color:rgb(250, 200, 200);
    border-radius: 200px;
    text-align: center;
}