h1{color: rgb(109, 148, 148);
    text-align: center;
  border-radius: 200px;
}
form{
        text-align: center;
}
body{ 
    background-color: rgb(186, 255, 255);
}
button{
    background-color: rgb(247, 206, 223);
    text-align: center;
}